{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                {% if user_can_play %}
                    {{ form_start(playGameForm) }}
                        <button type="submit" class="btn btn-success">Get prize!</button>
                    {{ form_end(playGameForm) }}
                {% else %}
                    <p>Sorry, you already won prize in this game.</p>
                    <p><b>Current game name:</b> {{ user_current_game_prize.game.name }}</p>
                    <p><b>Your prize was:</b> {{ user_current_game_prize.prize.name }}</p>
                    <p><b>Partner:</b> {{ user_current_game_prize.partner.name }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
