{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

    <div class="row">
        <div class="col-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {{ form_start(loginForm) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="mb-3">
                    {{ form_row(loginForm.email, {
                        'full_name': 'email',
                        'value': last_username
                    }) }}
                </div>
                <div class="mb-3">
                    {{ form_row(loginForm.password, {
                        'full_name': 'password'
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            {{ form_end(loginForm) }}
        </div>
    </div>
{% endblock %}
